/* tailwind.config.css ya index.css mein ye ho */
html,
body {
  height: 100%;
  scroll-behavior: auto !important;
  overflow: hidden;
}

.snap-y {
    scroll-snap-type: y mandatory;
  }
  
  .snap-start {
    scroll-snap-align: start;
  }
  